@import "assets/index.scss";

.metrics {
  margin-top: getSpacing(2);
}

.charts {
  height: getSpacing(40);
  background: #ffffff;
}

.topChart {
  height: getSpacing(12);
  border-bottom: 1px solid lighten($colorMuted, 30);
  padding-top: getSpacing(1);
}

.topChartTitle {
  font-size: 0.9rem;
  margin: 0 getSpacing(2);
  color: $colorSecondary;
}

.icon {
  composes: centerVertically;
  height: getSpacing(2);
  fill: $colorSecondary;
  margin-right: getSpacing(0.5);
}

.mutedIcon {
  composes: icon;
  fill: $colorMuted;
}

.topChartIndicator {
  composes: pseudoLink;
  margin-right: getSpacing(1);
}

.topChartLegend {
  margin-right: getSpacing(2);
}

.topChartLegendItem {
  margin-right: getSpacing(1);
  color: $colorMuted;
}

.square {
  width: getSpacing(1);
  height: getSpacing(1);
  display: inline-block;
  margin-right: getSpacing(0.5);
}

.topChartDatepicker {
  float: right;
}

.topChartDatepickerCalendar {
  border-left: 1px solid lighten($colorMuted, 30);
  padding-left: getSpacing(0.5);

  > * {
    margin: -1px;
  }
}
